@import "./styles/base.css";
@import "./styles//components.css";
@import "./styles/utilities.css";
@import "./styles/themes/default.css";
@import "./styles/themes/dark.css";
@import "./styles/themes/theme-blue-turquoise.css";
@import "./styles/themes/theme-warm-peach-pink.css";
@import "./styles/themes/theme-green-1.css";
@import "./styles/themes//theme-green-2.css";
@import "./styles/themes//theme-green-3.css";

.html {
  overflow: hidden;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scroll-bar));
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--scroll-bar-hover));
}
